node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz*
*.exe
client/public/laundry-background.gif
.local
.env
.env.*
!.env.example
!.env.*.example
.env.local
.env.*.local
*.log
*.sql
*.sqlite
*.sqlite3
laundry.db
hostinger-deploy.zip
attached_assets/*
!attached_assets/image_1767220512226.png
!attached_assets/image_1769169126339.png
!attached_assets/image_1767486604951.png
!attached_assets/image_1771496445766.png
